{% extends 'base_inicio.html' %}


<div>
    <div>
        <h3>INICIO DE SESION</h3>
    </div>
    <div>
        <div>
            <img src="Imagenes/logo.png" class="imagen" />
        </div>
        <form action="aplicacion_empleado.html">
            <div class="margen-Sesion">
                <!--Label de iniciar sesión-->

                <label>USUARIO:</label>

                <!--Textbox Iniciar sesion-->

                <input type="text" required=""/><br/>

            </div>
            <div class="margen-Contraseña">
                <label>CONTRASEÑA:</label>
                <input type="text"/><br/>
            </div>
            <br/>
            <input type="submit" style="margin-top: 10px;" value="Guardar"/>
        </form>

    </div>
</div>
